.emails-input {
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 0 2px #aaa;
  min-width: 400px;
  border-radius: 3px;
  font-size: 13px;
  max-height: 100px;
  overflow-y: auto;
  background-color: #fff;
  color: #C3C2CF;
  min-height: 50px;

  &.focus {
    color: #000;
  }

  &:focus {
    outline: none;
  }

  .email-input-valid-email {
    background-color: rgba(102, 153, 255, 0.2);
    font-family: Open Sans;
    padding: 1px 5px 5px 11px;
    display: inline-block;
    white-space: nowrap;
    margin-top: 2px;
    color: #050038;
    font-size: 14px;
    border-radius: 20px;
  }

  .email-input-invalid-email {
    background-color: transparent;
    font-family: Open Sans;
    border-bottom: 1px dashed #f00;
    padding: 1px 5px 5px 11px;
    color: #050038;
    .delete-item {
      margin-left: 7px;
    }
  }

  .email-input-invalid-email +.email-input-valid-email, .email-input-invalid-email + .email-input-invalid-email {
    margin-left: 7px;
  }

  .delete-item {
    margin-left: 10px;
    margin-right: 3px;
    display: inline-block;
    font-size: 14px;
    font-weight: lighter;
    cursor: pointer;
    &:hover {
      color: #9f9f9f;
    }
  }

  .email-input-valid-email +.email-input-valid-email, .email-input-valid-email + .email-input-invalid-email {
    margin-left: 3px;
  }



  .email-input-invalid-email:last-child, .email-input-valid-email:last-child {
    margin-right: 5px;
  }
}
